

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}



.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #333;
}

.resumen {
    margin-bottom: 20px;
}

h2 {
    color: #555;
}

p {
    margin: 10px 0;
}

.boton {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}
